@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Library UI</h1>
        <p>Below is the list of available books</a>.</p>


        <table style="width:100%">
            <tr>
                @foreach (var header in Model.Headers())
                {
                    <th>@header</th>
                }
            </tr>
            @foreach (var book in Model.List())
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                </tr>
            }
        </table>
    </div>
